<div>You will be redirected to the Yedpay website to complete payment after you confirm your order.</div>
<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" onclick="window.location = '{{ action }}'"/>
    </div>
</div>
